 /*-------> Basic style <--------*/
 :root {
     --color-primary: #c92c2c;
     --color-bg: #0e0d10;
     --shadow-primary: 1px 5px 21px 5px #c4c4c4bf;
 }

 html {
     font-size: 62.5%;
 }

 body {
     font-size: 2rem;
     font-family: 'Poppins', sans-serif;
     margin: 0;
 }

 /* responsive for desktop*/
 @media screen and(min-width:1024px) {
     body {
         font-size: 1.8rem;
     }

     h1 {
         font-size: 8rem;
     }

     h2 {
         font-size: 6rem;
     }

     h3 {
         font-size: 2.4rem;
     }
 }

 /* Buttons style */
 .btn {
     border-radius: 0.7rem;
     border: 0;
     cursor: pointer;
     font-size: 1.7rem;
     padding: 1.5rem 2rem;
 }

 .btn--primary {
     background: var(--color-primary);
     color: #ffff;
 }

 .btn--primary:hover {
     background: #d33333;
 }

 /* button animation */
 .glow-on-hover {
     width: 220px;
     height: 50px;
     border: none;
     outline: none;
     color: #fff;
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
     font-size: 1.7rem;
     padding: 1.5rem 2rem;
 }

 .glow-on-hover:before {
     content: '';
     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: glowing 20s linear infinite;
     opacity: 0;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
 }

 .glow-on-hover:active {
     color: #000
 }

 .glow-on-hover:active:after {
     background: transparent;
 }

 .glow-on-hover:hover:before {
     opacity: 1;
 }

 .glow-on-hover:after {
     z-index: -1;
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #111;
     left: 0;
     top: 0;
     border-radius: 10px;
 }

 @keyframes glowing {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 400% 0;
     }

     100% {
         background-position: 0 0;
     }
 }


 /*------- Header style---------*/
 .header {
     background-color: var(--color-bg);
     padding: 5rem 2rem 0 2rem;
     text-align: center;
     overflow: hidden;
     align-items: center;
     color: white;
     justify-content: center;
     margin: 2rem;
     border-radius: 1rem;
 }

 .header-left h2{
    font-size: 40px;
 }

 .header-right {
     height: 100%;
     width: 100%;
 }

 .header-right img {
     height: 100%;
     object-fit: contain;
     margin-top: 1rem;
 }



 /* responsive for large device*/
 @media only screen and (min-width: 1024px) {
     .header {
         display: grid;
         grid-template-columns: 1fr 1fr;
         padding: 0;
     }

     .header-left {
         padding: 10rem 3rem 10rem 10rem;
         text-align: start;
     }
 }

 /*-------- Main section style ----------*/
 .main-left {
     margin: 5rem 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 }

 .main-left button {
     width: 80%;
     margin: 1rem 0;
     text-decoration: none;
     font-size: 2rem;
 }

 .main-left button a {
     text-decoration: none;
     color: black;
 }

 .main-left button a:hover {
     text-decoration: underline;
 }

 .main-right {
     display: grid;
     grid-template-columns: 1fr;
 }

 .card {
     box-shadow: var(--shadow-primary);
     border-radius: 1rem;
     margin: 2rem 2rem;
 }

 .card img {
     height: 100%;
     width: 100%;
     object-fit: contain;
 }

 .card-bottom {
     padding: 0 2rem;
 }

 .card-bottom button {
     padding: 1rem 1.5rem;
     border: solid 1px rgb(70, 70, 70);
     background-color: white;
     border-radius: 0.5rem;
     cursor: pointer;
     margin: 1rem 0;
 }

 .card-bottom div {
     display: flex;
     justify-content: space-between;
     color: gray;
 }

 .view-all-btn {
     display: none;
 }

 .view-all {
     display: flex;
     justify-content: center;
     margin: 3rem 0;
 }

 /*----------- responsive style for tablet--------------- */

 @media only screen and (max-width: 1024px) and (min-width: 600px) {
     .main-left {
         flex-direction: row;
         width: 100%;
     }

     .main-left button {
         margin: 0 1rem;
     }

     .main-right {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 1rem;
         width: 100%;
     }

     .view-all-btn {
         display: block;
     }
 }

 /*---------------- responsive for large device --------------------*/
 @media only screen and (min-width: 1024px) {
     .main {
         display: flex;
     }

     .main-left {
         display: block;
         background: black;
         padding: 3rem 2rem;
         height: min-content;
         border-radius: 1rem;
         margin: 2rem;
         width: 20%;
     }

     .main-left button {
         width: 100%;
         margin: 1rem 0;
     }

     .main-right {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-gap: 1rem;
         width: 80%;
     }
 }

 /* ------ Footer style --------- */

 footer {
     padding: 5rem 5rem;
     background-color: var(--color-bg);
     color: white;
     text-align: center;
 }

 footer div {
     margin-top: 3rem;
 }
 .footer-heading{
    font-size:40px
 }

 .footer-link p {
     cursor: pointer;
 }


 .social-icons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     margin-top: 40px;
     font-size: 40px;
 }

 .fa-brands {
     color: #B9B9B9;
 }

 .fa-brands:hover {
     transform: scale(1.5);
     transition: ease-in-out .3s;
 }

 /* responsive for small device footer section */
 @media only screen and (min-width: 600px) {
     .footer-link {
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: space-evenly;
     }
 }