/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*  header style */

header{
    margin-top: 50px;
    margin-bottom: 130px;
}

.top-banner{
    margin: 0 auto;
    height: 646px;
    width: 1320px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-area{
    width: 40%;
}

.banner-title{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.banner-paragraph{
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.main-button{
    padding: 16px 25px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
}
/* button animation style */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.image-area{
    width: 40%;
}

.image-area img{
    width: 100%;
    object-fit: cover;
}

/* media query for header */
@media screen  and (max-width:576px){
    body{
        background-color: red;
    }
    .top-banner{
        flex-direction: column;
         height: 600px;
         width: 300px;
    }
    .banner-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: #FFFFFF;
    /* margin-bottom: 20px; */
}
}

/* main part */

main{
    margin-top: 30px;
}
.playing-area{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1320px;
}

.left-button-area{
    width:20%;
}

.link-button-area{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.link-btn{
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}

#blog-btn{
    width: 252px;
    height: 64px;
    background: red;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}


.all-matches{
    width:75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px ;
}

.single-match{
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.one-match{
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding-left: 35px;
    padding-top: 60px;
}

.match-time{
    padding-bottom: 15px;
}

 .vs{
    padding: 16px;
 }
.match-text{
    padding-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
}

.transfer-btn{
    width: 100px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
    background:white;
    margin-bottom:15px;
    margin-top: 20px;
    cursor: pointer;
}

.icons{
    margin-top: 15px;
    font-size: 20px;
}

.view-btn{
    width: 131px;
    height: 47px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

/* footer style */

footer{
    height:444px;
    background:#161616;
     margin: 0 auto;
     margin-top: 140px;
}

.footer-title{
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

.underline{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.footer-items a{
    text-decoration: none;
    color: #B9B9B9;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    font-size: 40px;
}

.fa-brands{
    color:#B9B9B9;
}